.DS_Store
.pypirc
illiterate/.vscode
illiterate/.emacs.d/helm-adaptive-history
illiterate/.atom/.apm
illiterate/.atom/blob-store
illiterate/.atom/compile-cache
illiterate/.atom/storage
illiterate/.atom/recovery
illiterate/.atom/packages
illiterate/.atom/.node-gyp
illiterate/.atom/github.cson
illiterate/.sbt/**/staging
illiterate/.sbt/**/server
illiterate/.sbt/**/plugins/idea.sbt
illiterate/.sbt/**/plugins/target/
illiterate/.sbt/**/plugins/project/
illiterate/.sbt/**/zinc
illiterate/.sbt/boot
illiterate/.sbt/1.0/templates
illiterate/.sbt/preloaded
