.DS_Store
.pypirc
.vscode
.emacs.d/helm-adaptive-history
.atom/.apm
.atom/blob-store
.atom/compile-cache
.atom/storage
.atom/recovery
.atom/packages
.atom/.node-gyp
.atom/github.cson
.ssh/known_hosts
.ssh/id_rsa
.ssh/id_rsa.pub
.sbt/**/staging
.sbt/**/server
.sbt/**/plugins/idea.sbt
.sbt/**/plugins/target/
.sbt/**/plugins/project/
.sbt/**/zinc
.sbt/boot
.sbt/1.0/templates
.sbt/preloaded
.docker/.buildNodeID
.docker/machine/
.metals
