"*":
  "atom-ide-ui":
    use: {}
  core:
    audioBeep: false
    debugLSP: false
    packagesWithKeymapsDisabled: [
      "text-select-mode"
      "atom-ternjs"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
  "exception-reporting":
    userId: "9756de94-6685-4a4e-856f-2302d86b1ba5"
  "linter-ui-default":
    panelHeight: 303
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      singleQuote: true
    useEslint: true
  "text-select-mode":
    clearSelection: true
  welcome:
    showOnStartup: false
".source.ts":
  editor:
    autoIndentOnPaste: false
