body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #c11c1c;
    background: #fdcbc3;
}

h1 {
    text-align: left;
    margin: 0px;
    font-size: 4rem;
    line-height: 4.1rem;
    padding: 4rem 2rem 1rem 0rem;
    font-style: monospace;
}

h2 {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 2.0em;
    margin-left: -1.5px;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 2px;
}

p {}

a {
    color: inherit;
}

pre {
    overflow-x: scroll;
    background: #fddbd4;
    padding: 1em 20px;
    margin: 0;
    font-size: 0.9em;
    line-height: 1.3em;
}

/* ORG-MODE specific elements */

.listing-number {
    font-weight: bold;
}

.org-src-container {
    margin: 1.5em 0px;
}

.org-src-name {
    overflow-x: scroll;
    background: #ffd3cc;
    margin: 1.5em 0 0 0;
    padding: 0.7em 20px;
    font-size: 0.8em;
    line-height: 1em;
    display: block;
}


#content {
    width: 60%;
    max-width: 800px;
    padding: 0px 2em;
}

@media only screen and (max-width: 1440px) {
  #content {
    width: 80%;
  }
}

#org-div-home-and-up {
    padding: 2rem;
    font-size: 1rem;
}
