abbrev_defs
.DS_Store
ac-comphist.dat
auto-save-list
bookmarks
tramp
url
elpa
.mc-lists.el
TAGS
desktop-sessions
projectile-bookmarks.eld
projectile.cache
recentf
ido.last
eshell
.python-environments/
.cask
lisp/org-8.2.10/
.org-id-locations
games/
anaconda-mode
ensime/
image-dired/
custom.el
